/* ================ VARIABLES =====================*/

/* COLORS */

$light-cyan : #2ABAC2;
$dark-cyan: hsl(185, 75%, 39%);
$dark-blue: hsl(229, 23%, 23%);
$dark-grayish: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);
$line-gray: #e4e4e4;

/* FONTS */
$fontSize: 18px;
$fontFam: 'Kumbh Sans', sans-serif;


/* ================ BASES =====================*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

body {
    position: relative;
     background: $dark-cyan;
    font-family: $fontFam;
    font-size: $fontSize;
    color: $dark-blue;
   overflow: hidden;
   
}
.wrapper {  
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pattern  {
    display: block;
    width: 78rem;
    position: absolute;
    z-index: 1;
}
.pattern--top {
    top: -31rem;
    left: -14rem;
}
.pattern--bottom {
    bottom: -43rem;
    right: -6rem;
    transform: rotateY(180deg);
}



/* ================ PROFILE =====================*/

.profile {
    position: relative;
    min-width: 35rem;
    height: 38rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    overflow: hidden;
    border-radius: 14px;
    z-index: 2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    &__card {
        margin-bottom: 4rem;
    }
    &__image {

        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            border: 5px solid #fff;
            border-radius: 50%;
        }
    }

    &__desc {
        margin: 0 auto;
        max-width: 30rem;
        text-align: center;
    }
    &__name {
        font-weight: 700;
        margin-bottom: 1rem;
    }

    &__age,
    &__location {
        color: $dark-grayish;
        font-weight: 400;
    }
    &__social {
        border-top: 1px solid $line-gray;
        padding: 2.4rem 2rem;
        display: flex;
        justify-content: space-around;
    }
    &__item {
        text-align: center;

        &-count {
            margin-bottom: .7rem;
        }
        &-title {
            font-size: 14px;
            font-weight: 400;
            color: $dark-grayish;
        }
    }



    
}
